<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles//about.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>

  <nav>

    <div>

      <div>
        <a href="../index.html"><img src="https://cdn-icons-png.flaticon.com/512/5234/5234602.png" alt="Error"></a>
      </div>

    </div>

    <div>
      <a href="../index.html">Home</a>
      <a href="./todo.html">Todo</a>
      <a href="./about.html">About</a>

      <a href="#" id="showUserName"> </a>
      <a href="login.html" id="signin_up_button">SignIn</a>

    </div>

    <div>

      <i class="fa-solid fa-sun" id="modechanger"></i>
    </div>

  </nav>




  <!-- about page -->



  <section class="about">

    <h1>About Us</h1>

    <p>Welcome to TodoList, the best online tool for managing your tasks! Our mission is to make your life easier by
      providing you with a simple and effective way to keep track of your to-do list.</p>

    <h2>Our Features</h2>

    <ul>
      <li><i class="fas fa-check"></i> Simple and easy to use interface</li>
      <li><i class="fas fa-check"></i> Add and delete tasks with ease</li>
      <li><i class="fas fa-check"></i> Organize tasks into categories or projects</li>
      <li><i class="fas fa-check"></i> Access your tasks from anywhere with an internet connection</li>
    </ul>


    <h2 id="mymission">Our Mission</h2>

    <p>Our mission is to create software that is intuitive, user-friendly, and helpful. We believe that technology
      should make people's lives easier, not more complicated. Our to-do app is just one example of how we're working
      towards this goal.</p>

  </section>


  <section class="about" id="aboutme">

    <h2>About Me</h2>

    <div id="My_Profile">

      <div>

        <img src="./anshumapunia img.jpg" alt="Profile Picture">

      </div>

      <div>

        <p>Myself <span id="myname">Anshuma Punia</span> , a self-taught Backend developer with a passion for creating useful and
          practical tools. In addition to TodoList,
          I have also worked on several other personal projects and contributed to open-source projects. When I am not
          coding, I enjoy playing Badminton & Listening Music.</p>
      </div>

    </div>

    <h2>Contact Me</h2>
    <p>If you have any questions, feedback, or suggestions for TodoList, please don't hesitate to get in touch with me.
      You can reach me by Email at : <span id="myemail">anshumapunia0@gmail.com</span>.</p>

  </section>



  <footer class="Myappfooter">
    <div>
      <p>Todo App @2023</p>
    </div>
  </footer>

  <!-- about page -->





</body>

</html>


<script src="../script/index.js"></script>
<script src="../script/about.js"></script>

