<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="../styles/style.css">

    <link rel="stylesheet" href="../styles/register.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   
</head>
<body>
    
    <nav>

        <div>

            <div>
                <a href="../index.html"><img src="https://cdn-icons-png.flaticon.com/512/5234/5234602.png" alt="Error"></a>
            </div>

        </div>

        <div>
            <h1 class="welcome">WELCOME TO TODO APP</h1>
        </div>
        
        <div>
            <i class="fa-solid fa-sun"></i>
        </div>
            
    </nav>


    <div class="register-form">

        <h2>Sign Up</h2>

        <form id="registeruser">


            <input type="email" placeholder="Enter your Email-id" id="new_user_email" required>
            <input type="text" placeholder="Enter your Name" id="new_user_name" required>
            <input type="number" placeholder="Enter your Contact Number" id="new_user_contact" required>
            <input type="number" placeholder="Enter your Age" id="new_user_age" required>
            <input type="text" placeholder="Enter your Address" id="new_user_address" required>
            <input type="password" placeholder="Enter your Password" id="new_user_pass" required>
            <input type="password" placeholder="Re-enter your Password" id="new_user_conf_pass" required>

            <input type="submit">


        </form>

    </div>


    <footer class="Myappfooter">
        <div>
          <p>Todo App @2023</p>
        </div>
      </footer>
    


</body>
</html>

<script src="../script/register.js"></script>
